<header class="header-desktop">
	<div class="header-text site-logo-text text-center">Admin</div>
	<div class="header-content">
		<div class="text-right">
			<div class="dropdown">
			  <a class="dropdown-toggle" data-toggle="dropdown">
			    <i class="fa fa-user"></i>
			  </a>
			  <div class="dropdown-menu">
			    <a class="dropdown-item" href="#">Settings</a>
			    <a class="dropdown-item" href="#">Logout</a>
			  </div>
			</div>
		</div>
	</div>
</header>
<header class="header-mobile">
	<div class="header-menu-btn"> <a (click)="SidebarService.toggleSidebar();"><i class="fa fa-bars"></i></a></div>
	<div class="header-text site-logo-text text-center"><b>ADMIN</b></div>
	<div class="header-content">
		<div class="text-right">
			<div class="dropdown">
			  <a class="dropdown-toggle" data-toggle="dropdown">
			    <i class="fa fa-user"></i>
			  </a>
			  <div class="dropdown-menu">
			    <a class="dropdown-item" href="#">Settings</a>
			    <a class="dropdown-item" href="#">Logout</a>
			  </div>
			</div>
		</div>
	</div>
</header>