<aside class="sidebar" [ngClass]="{'hidden': !SidebarService.sidebar_open }">
	<div class="sidebar-inner">
		<div class="sidebar-header">
			<div class="sidebar-header-img">
				<img src="http://placehold.it/300x300" class="img-fluid mx-auto d-block">
			</div>
			<div class="sidebar-header-text"></div>
		</div>
		<div class="sidebar-body">
			<ul class="sidebar-menu">
				<li>
					<a routerLink="/home/"><i class="fa fa-home"></i><span>Dashboard</span></a>
				</li>
				<li>
					<a routerLink="/home/settings/"><i class="fa fa-gear"></i><span>Settings</span></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-users"></i><span>Users</span></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-file"></i><span>Pages</span></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-bars"></i><span>Menu</span></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-bars"></i><span>Footer</span></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-image"></i><span>Slider</span></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-file"></i><span>Blog</span></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-image"></i><span>Portfolio</span></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-image"></i><span>Gallery</span></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-users"></i><span>Team</span></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-envelope"></i><span>Messages</span></a>
				</li>
			</ul>
		</div>
	</div>
</aside>