.page-content{
	margin-left: 255px;
	width: calc(100% - 255px);
	margin-top:45px;
	z-index:1;
	padding:10px;

	.page-header{
		background:white;
		padding: 10px 10px;

		.page-title{
			font-size: 20px;
			font-weight: 600;
		}
		.breadcrumb{
			background:none;
			padding:0;
		}
	}
}

$information-phone: "only screen and (max-width : 500px)";
@media #{$information-phone} {
	.page-content{
		margin-left:0;
		width: 100%;
	}
	.page-content.overlay > .overlay{
		position: fixed; /* Sit on top of the page content */
	  	display: block; /* Hidden by default */
	  	width: 100%; /* Full width (cover the whole page) */
	  	height: 100%; /* Full height (cover the whole page) */
	  	top: 0; 
	  	left: 0;
	  	right: 0;
	  	bottom: 0;
	  	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	  	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	  	cursor: pointer; /* Add a pointer on hover */
	  	transition: transform 0.3s;
	}
}